#vs files
/.vs
/database.sln
/database.vcxproj
/database.vcxproj.filters
/database.vcxproj.user
/CMakeSettings.json
/CMakePresets.json
/.editorconfig
/myspell.dic
/cpp.hint

#build files
/bin
/build
/out